body {
  font-family: 'Jost', sans-serif;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  box-sizing: border-box;
  /* background-color: cadetblue; */
}

.header {
  background-color: rgb(40, 37, 35);
  /* background-color: #a6a6a6; */
  /* background-image: url(images/logo\ mc.png); */
  width: 100% auto;
  height: 135vh;
  /* height: 50%; */
  /* min-height: 90vh; */
  color: #fff;
  text-align: center;
  padding: 0 0;
  position: relative;
}
.navbar {
  top: 0;
  left: 0;
  right: 0;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  position: fixed;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  z-index: 10;
  /* background-color: #a6a6a6; */
  background: black;


  padding: 10px;
}
.navbar img{
  margin: auto 0;
  height: 7%;
  position: fixed;
  left: 3px;
  top: 0;
  object-fit: contain;
}

.nav-links {
  order: 3;
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: flex-end;
  flex: 1;
}

.navbar ul {
  display: flex;
  padding: 0;
  margin: 0;
}

.navbar ul li {
  display: inline-block;
  padding: 4px 16px;
  list-style: none;
}

.navbar ul li a {
  color: #fff;
  font-size: 18px;
  text-decoration: none;
}

.nav-links ul li a:hover{
  background-color:cadetblue;
}

.img-box {
  width: 100%;
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  /* padding-top: 100px; */
}

.profile-pic {
  width: 26%;
  height: 54vh;
  border-radius: 50%;
  object-fit: cover;
  object-position: top;
  margin-top: 120px;
  margin-bottom: 50px;
  /* position: relative; */
  
}

.hamburger {
  display: none;
  flex-direction: column;
  justify-content: space-between;
  height: 20px;
  width: 25px;
  border: none;
  background: transparent;
  cursor: pointer;
  z-index: 11;
  order: 2;
  color: #fff;
}

.hamburger span {
  display: block;
  height: 3px;
  background: #fff;
  border-radius: 3px;
}


section {
  padding: 20px;
  /* max-width: 990px; */
  margin: 20px auto;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.social-links a {
  font-size: 16px;
  color: #fff;
  background-color: blue;
  /* background-color: rgb(164, 108, 4); */
  border: 1px solid;
  border-radius: 10px;
  padding: 3px;
  margin: 10px;
  cursor: pointer;
  position: center;
}

.social-links a:hover {
  background-color: #f75023;
}
.home h1 {
  color: cyan;
}
.home h2 {
  color: rgb(218, 242, 234);
  margin-bottom: 40px;
}

.home h4 {
  color: rgb(78, 241, 241);
  margin-bottom: 50px;
}

.about h1 {
  font-size: 30px;
}

.about h2 {
  color:#f75023;
  font-size: 22px;
}

.about h4 {
  font-size: 22px;
}

.country {
  color: #f75023;
  
}
.about {
  margin: 0;
}

.about p  {
  color: #58575c;
  margin-bottom: 60px;
  letter-spacing: 0.5px;
  line-height: 22px;
}

.about li {
  color: #58575c;
  letter-spacing: 0.5px;
  margin-top: 0;
}

.container {
  max-width: 100%;
  display: flex;
  flex-wrap: wrap;
  margin: 20px auto;
  justify-content: space-between;
  align-items: center;
}

.container .card {
  width: calc(33.33% - 30px);
  /* width: calc(50% - 30px); */
  /* width: 350px; */
  height: 465px;
  border: 1px solid #ddd;
  display: flex;
  flex-direction: column;
  margin: 15px;
  padding: 10px;
  text-align: center;
  transition: transform 0.3s;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.container .card:hover{
  transform: scale(1.05);
}
.container .card .image-box img{
  width: 100%;
  height: 310px;
  object-fit: cover;
}

.container .card h3{
  font-size: 26px;
  position: top;
  margin-bottom: 7px;
  background-color: #f75023;
  color: #fff;
  padding: 5px;
  margin-top: 0;
}
.container .card li{
  font-size: 15px;
  margin-bottom: 8px;
  text-align: left;
  padding-left: 4px;
}

.gallery {
position: relative;
padding: 10px;
display: flex;
flex-wrap: wrap;
text-align: center;
justify-content: center;
}

.gallery h3 {
  width: 100%;
  text-align: center;
  margin-top: 15px;
  margin-bottom: 15px;
  padding: 10px 0;
}

.photos {
  width: auto;
  padding: 8px;
}

.gallery .photos img {
width: 100%;
height: 320px;
object-fit: cover;
}

.testimonials {
  .test1 {
    width: 300px;
    height: 130px;
    /* object-fit: cover; */
  }
}

.contact-form input, .contact-form textarea, .contact-form button {
  display: block;
  width: 100%;
  margin-top: 10px;
}

.top-btn {
  /* display: inline-block; */
  padding: 9px 30px;
  border: 2px solid #f75023;
  border-radius: 30px;
  color: black;
  background: transparent;
  letter-spacing: 1px;
  font-size: 16px;
  font-weight: 600;
  text-decoration: none;
  transition: ease .50s;
  cursor: pointer;
  /* width: 10px; */

}

.top-btn:hover {
  transform: scale(1.1);
  background-color: #f75023;

}

.faq {
  background: rgb(234, 229, 229);
  border-radius: 10px;
}

.faq ol > li {
  margin-bottom: 14px;
  /* margin-top: 10px; */
}

.faq h3 {
  color: #2f2e31;
  /* margin-bottom: 10px; */
}
.faq ol li ul {
  list-style-type: none;
  border-style: outset;
  border-radius: 10px;
  padding: 10px 20px 10px 20px;
  background: #bdbcc0;
}

.toggle {
  cursor: pointer;
}

.toggle > ul {
  display: none;
}
.toggle > li {
  display: none;
}

.faq .toggle > ol, .faq .toggle > ul {
  display: none;
}

.arrow {
  cursor: pointer;
  color: #2f2e31;
}

.contact {
  background: #a6a6a6;
  width: 90%;
  /* height: 62vh; */
  border-radius: 15px;
  
}

.both-contact {
  width: 95%;
  margin: 20px auto;
  padding: 10px 2%;
  display: flex;
  flex-direction: row-reverse;
  flex-wrap: wrap;
  /* align-items: center; */
  justify-content: space-between;
  /* text-align: center; */
  border-radius: 15px;
}

.contact h2 {
font-size: 44px;
width: 100%;
text-align: center;
margin-top: 0;
margin-bottom: 0;

}

.contact .contact-form input,
.contact .contact-form textarea {
  background: whitesmoke;
  width: 100%;
  padding: 10px;
  margin: 5px 0;
  word-spacing: 7px;
  letter-spacing: 4px;
  border: none;
  border-radius: 8px;
}

.contact .contact-form textarea {
  background: #eeeaea;
  height: 12vh;
  
}

.contact .contact-form .button {
  width: 40%;
  border-radius: 30px;
  border: 1px solid #f75023;
  background: #d4d1d1;
  border-color: #f75023;
  cursor: pointer;
  font-weight: 500;
  transition: background 0.3s;
  /* text-align: center; */
  display: block;
  margin-left: auto;
  margin-right: auto;
  /* margin-top: 12px; */


}
.contact-form .button:hover {
  background-color: #f75023;
  color: white;
}

.contact-left,
.contact-right {
  flex-basis: 45%;
  padding:  0 2%;
  box-sizing: border-box;
  margin-top: 0;
}

.contact-right p,
.contact-left p {
  margin-bottom: 10px;
  display: flex;
  align-items: center;
}

.contact-left i,
.contact-right i {
    margin-right: 10px;
}

footer {
  font-size: smaller;
  text-align: center;
  columns: #58575c;
  letter-spacing: 1px;
}




/* ******************************************************** */



@media screen and (max-width: 768px){
  .navbar {
    flex-direction: column;
    align-items: center;
    height: auto;
    padding: 1em 0;
  }
  .header {
    top: 30%;
    width: 100%;
    height: 110vh;
    position: relative;
  }

  .hamburger {
    display: flex;
  }

  .hamburger, .nav-links {
    margin-left: auto; /* Push to the far right */
}

  .nav-links {
    display: none;
    flex-direction: column;
    gap: 10px;
    position: absolute;
    top: 60px;
    left: 78%;
    right: 0.5px;
    /* top: 55px; */
    background: #a6a6a6;
    z-index: 10;
    padding: 1em 0;
    width: auto;
  }

  .nav-links.active {
    display: flex;
  }

  .navbar img {
    height: 50px;
}

  .navbar ul {
    flex-direction: column;
    gap: 6px;
    align-items: flex-start;
  }

  .navbar ul li a {
    font-size: 14px;
    padding: 5px 0;
  }

  .profile-pic {
    width: 50%;
    height: 60vh;
    margin-top: 60px;
    /* padding-top: 50%; */
  }

  .photos {
    flex-basis: calc(50% - 16px); /* 2 photos per row for smaller screens */
  }

  .videos video {
    width: calc(50% - 4px); /* 2 videos per row for smaller screens */
  }


  .contact {
    height: 86vh;
  }

  .both-contact {
    flex-direction: column-reverse;
  }

  .contact-left, .contact-right {
    flex-basis: 100%;
    margin-bottom: 20px;
  }

  .container .card {
    width: calc(44% - 2px);
    margin: 10px;
    height: auto;
  }

  .container {
    justify-content: center;
  }
  
}

  /* ************************************************ */


  @media only screen and (max-width: 800px) {
    .container .card {
      width: calc(98% - 4px); /* 2 card in a row */
      margin: 10px 0;
    }

    .contact {
      height: 86vh;
    }

    .profile-pic {
      width: 50%;
      height: 28vh;
  }

  .header {
    height: 105vh; 
  }

  .img-box {
    top: 43%;
}
  }
/* *********************************************************** */
  
@media only screen and (min-width: 300px) {

  .img-box {
    top: 49%;
  }
  .header {
    height: 94vh; 
    }

    .contact {
      height: 75vh;
    }

    .profile-pic {
      /* width: 50%; */
      height: 38vh;
  }
}

 @media only screen and (min-width: 769px) {
    .container .card {
      width: calc(33.33% - 30px); /* Single card in a row */
      margin: 10px 0; /* Adjusted margin for mobile */
      height: auto;
    }

    .profile-pic {
      width: 35%;
      height: 50vh;
  }
    
    .img-box {
    top: 43%;
  }
    .header {
  height: 146vh; 
  }

  .contact {
    height: 73vh;
  }
} 

  /* ******************************************************** */

  @media only screen and (min-width: 1000px) {
    .profile-pic {
    /* position: absolute; */
    /* top: 0; */
    /* left: 0; */
    width: 25%;
    /* height: 48vh; */
    /* object-fit: cover; */
  }
  .contact {
    height: 50vh;
  }
  .header {
    height: 123vh; 
  } 
  .img-box {
    top: 45%;
  }
}


/* @media(max-width: 900px){
  .profile-pic {
    width: 50%;
  }
}

@media(max-width: 1200px){
  .profile-pic {
    width: 50%;
    /* height: 20vh; */
    /* margin-top: 260px; */
  /* }
  .header {
    height: 80vh;
  }
} */
